$darkPurple: #614B65;
$purple: #9A7AA0;
$white: #FFFFFF;
$green: #749497;
$lightGreen: #B4EDD2;
$lilac: #542D84;
$blue: #8D94BA;
$red: #FFA4A4;
$grey: #C4C4C4;
$shadowGrey: #363636;
$darkGrey: #5C5762; 
$black: #302E2B;
